body {
    background: linear-gradient(to bottom, #fff3cd 70%);
}

.ruta-card {
    background: #fff9e6;
    border-radius: 20px;
    padding: 20px;
    transition: all 0.3s ease;
    position: relative;
}

.ruta-card:hover {
    box-shadow: 0 0 15px rgba(255, 153, 0, 0.4);
    border-left: 6px solid rgba(255, 136, 0, 0.7);
}

.fav-star {
    position: absolute;
    top: 10px;
    right: 12px;
    color: #cfcfcf;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
}

.fav-star.active {
    color: orange;
}

.info-icon {
    font-size: 15px;
    margin-right: 4px;
    color: #555;
}