
  <footer class="p-3 mb-2 bg-light  text-white">
    <div class="container text-center">
      <p class="mb-1 text-dark">© 2025 Mi Ruta SJR</p>
      <a href="/terminos" class="text-secondary text-decoration-none mx-2">Términos</a> |
      <a href="/privacidad" class="text-secondary text-decoration-none mx-2">Privacidad</a> |
      <a href="/faq" class="text-secondary text-decoration-none mx-2">FAQ</a>
    </div>
  </footer>
</body>

</html>